<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asm_linksys.learning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SWAPNO"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Register">

        </activity>
        <activity android:name=".activity.LoginHome">

        </activity>
        <activity android:name=".activity.ForgetPassword">

        </activity>
        <activity android:name=".activity.AfterLoginHome">

        </activity>
        <activity android:name=".activity.SearchHome">

        </activity>
        <activity android:name=".activity.AddUser">

        </activity>
        <activity android:name=".AfterLoginHome">

        </activity>
        <activity android:name=".SearchHome">

        </activity>
        <activity android:name=".AddUser"></activity>
    </application>

</manifest>